extends ../layouts/main

block content

  +b.page--text
    +e.row
      +b.banner--claim
        .container
          +e.title DISCLAIMER

    +e.row--mt-lg
      .container
        .text-block
          ol
            li
              h2 INFORMACIÓN GENERAL
              p El presente texto contiene el aviso legal (en adelante, el "Aviso Legal") que ha sido elaborado en cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, con la finalidad de regular el acceso y uso al presente sitio web #[a(href="https://www.airning.com/") https://www.airning.com/] (en adelante, la "Web").

            li
              h2 DATOS IDENTIFICATIVOS
              p Los datos identificativos y de contacto del titular y responsable de la Web son los que figuran a continuación:
              p #[b Airning Airclaims S.L.] (en adelante, el #[b "Titular de la Web"])
              p Datos registrales: Inscrita en el Registro Mercantil de Barcelona, en el Tomo 45483 , Folio 60 , Hoja B-489329, Inscripción 1º
              p CIF: B-66821711
              p Calle Almogàvers 165
              p 08018 Barcelona
              p @ info@airning.com

            li
              h2 ACCESO Y UTILIZACIÓN DE LA WEB
              p El acceso y utilización de la Web está sujeto y, en consecuencia, se regirá por todo lo dispuesto en el presente Aviso Legal, sin perjuicio de las condiciones particulares que sean de aplicación a servicios concretos incluidos en la misma.
              p El mero acceso y la utilización de la Web atribuye la condición de usuario (en adelante, el "Usuario" en singular, y los "Usuarios" en plural) de la Web y comporta la aceptación plena y sin reservas por parte del Usuario, del total contenido del Aviso Legal en la versión publicada en la Web en el momento de dicho acceso

            li
              h2 ACTUALIZACIÓN
              p Nos reservamos la facultad de modificar y actualizar la información contenida en la Web, así como en el presente Aviso Legal, en cualquier momento y sin necesidad de previo aviso, siendo responsabilidad del Usuario revisarlas en el momento de cada acceso y/o utilización, puesto que, la utilización de los servicios significará su aceptación en la versión del Aviso Legal que sea vigente en el momento de uso o contratación.

            li
              h2 OBLIGACIONES DEL USUARIO
              ul
                li
                  h3 Veracidad de la información
                  p El Usuario declara y se obliga a que toda la información por él suministrada en el curso de la utilización de la Web sea cierta, verdadera, completa, precisa y que esté autorizado para divulgarla.

                li
                  h3 Cumplimiento de la legalidad
                  p El Usuario se compromete a utilizar la Web de conformidad con la legislación vigente, con lo dispuesto en el Aviso Legal, así como con la moral, la buena fe y el orden público.
                  p El Usuario se obliga a abstenerse de utilizar la Web con fines ilícitos, contrarios a lo establecido en el Aviso Legal, o de forma lesiva para los derechos e intereses del Titular de la Web o de terceros.
                  p El Titular de la Web se reserva el derecho a suspender, interrumpir, denegar o retirar el acceso y/o utilización de su Web, en cualquier momento y sin necesidad de preaviso, a todo Usuario que incumpla con el presente Aviso Legal.

                li
                  h3 Responsabilidad del Usuario
                  p El Usuario deberá utilizar la Web y sus contenidos bajo su única y exclusiva responsabilidad.
                  p El Usuario responderá por los daños y perjuicios de cualquier naturaleza que el Titular de la Web pueda sufrir como consecuencia, directa o indirecta, del incumplimiento por parte del Usuario del Aviso Legal.

            li
              h2 DERECHOS DE PROPIEDAD
              p Todos los contenidos de la Web (incluyendo, sin carácter limitativo, bases de datos, marcas, logos, nombres comerciales, imágenes, dibujos, gráficos, archivos de texto, audio, vídeo y software) son propiedad del Titular de la Web o el Titular de la Web ha sido debidamente autorizado para su uso, y están protegidos por los correspondientes derechos de propiedad intelectual e industrial.

            li
              h2 CONTENIDOS DE OTROS SITIOS WEB
              p La Web puede poner a disposición de los Usuarios enlaces a otros sitios web gestionados por terceros, a través de dispositivos técnicos tales como, entre otros, enlaces de hipertexto, banners, botones, directorios y cualquier otra herramienta de búsqueda que permita al Usuario acceder a sitios web distintos de la Web o sitios web de terceros (en adelante, #[b "Links"]). La utilización de Links no implica que exista dependencia con el Titular de la Web, salvo que se diga expresamente lo contrario, ni supone la aceptación, aval o recomendación por parte del Titular de la Web de los contenidos o servicios por ellos ofrecidos, ni garantía alguna al Usuario. Por consiguiente, el Usuario deberá valorar bajo su responsabilidad la navegación a los otros sitios web a través de dichos Links, quedando el Titular de la Web exonerada de toda responsabilidad en relación con la información, datos, archivos, productos, servicios y cualquier clase de material existente en las páginas a las que se acceda a través de los Links.
              p De igual forma, todos aquellos Links entre cualquier sitio web y la Web no implican, por su mera existencia, relación legal alguna entre la Web y la web que incorpore dichos Links, así como tampoco el conocimiento y aceptación por parte del Titular de la Web de su existencia y contenido.

            li
              h2 LIMITACIONES DE RESPONSABILIDAD
              p En la medida en que lo permita la legislación vigente, el Titular de la Web se exime de toda responsabilidad derivada, a título enunciativo pero no limitativo:
              ul
                li
                  p e cualquier error, supresión, retraso o anomalía que se pueda producir en la transmisión y funcionamiento de la Web, que tengan origen en causas de fuerza mayor o fortuita (ya sean problemas de internet, errores informáticos, averías telefónicas, hackers, etc.), o que hubiera sido causado por mala fe del Usuario.

                li
                  p De la utilización inadecuada que los Usuarios puedan hacer de la Web o de las webs de enlace, y que resulten en una infracción de derechos de propiedad intelectual y/o industrial, o en otros ilícitos civiles o penales.

                li
                  p De las reclamaciones de terceros que se deriven del uso indebido por el Usuario de la Web.

                li
                  p De los actos u omisiones de terceros, con independencia de que éstos pudieran mantener alguna relación contractual con el Titular de la Web.

                li
                  p Del acceso y uso de la Web a contenidos no aptos, así como el envío de datos, por parte de menores de edad, sin el consentimiento de los padres o tutores, cuando la Ley así lo requiera, siendo responsabilidad de los progenitores o tutores ejercer el control adecuado para que los menores a su cargo eviten el acceso y uso a contenidos no aptos.

                li
                  p De los errores u omisiones, o desactualización de los contenidos publicados en la Web.

                li
                  p De los datos inciertos, imprecisos, incorrectos o incompletos facilitados por el Usuario que impidan transmitir los productos o servicios contratados y/o contactar con el Usuario.

            li
              h2 NULIDAD E INEFICACIA
              p Si cualquier cláusula del presente Aviso Legal fuese declarada, total o parcialmente, nula o ineficaz, tal nulidad o ineficacia afectará tan sólo a dicha disposición o parte de la misma que resulte nula o ineficaz subsistiendo en todo lo demás, el resto de cláusulas y teniéndose tal disposición o la parte de la misma que resulte afectada por no puesta, salvo que, por resultar esencial al presente Aviso Legal, hubiese de afectarlas de forma integral.

            li
              h2 LEY APLICABLE
              p El presente Aviso Legal, así como, todas aquellas relaciones que puedan surgir entre el Usuario y el Titular de la Web por el acceso y utilización de la Web, se interpretarán y regirán de conformidad con la Ley Española.
