extends ../layouts/main

block content

  +b.page--main
  
    +b.main-bg
      .container
        +e.title
          |Гарантия 
          |минимальной цены
          |на скинали
        +e.subtitle от 3 000 р/м2
      
        +b.BUTTON.button Заказать скинали
        
    +b.SECTION.offer.section
      .container
        
        +e.title Оставьте заявку на расчет
        +e.SPAN.subtitle и получите скидку 30% на изготовление скинали или фартука для кухни

        +b.FORM(action="#").form
          +e.row
            +e.group
              label(for="").input-label Вид стекла
              input(type="hidden" id="select-type" value="C печеньем").input.input-row
              +b.select
                +e.select-checked С печатью
                +e.UL.dropdown
                  +e.LI(data-value="С печатью").option с печатью
                  +e.LI(data-value="Без печати").option без печати  
                    
            +e.group
              label(for="name2").input-label Ширина, см
              input(type="text" id="name2").input.input-row
            +e.group
              label(for="name3").input-label Высота, см
              input(type="text" id="name3").input.input-row

          +e.row.checkbox-row
            +e.checkbox
              input(type="checkbox" id="check1").input-check
              label(for="check1").check-label Монтаж
            +e.checkbox
              input(type="checkbox" id="check2").input-check
              label(for="check2").check-label Доставка
              
          +e.row
            +e.group
              label(for="name4") Вид стекла
              input(type="text" id="name4" placeholder="Ваше имя").input
            +e.group
              label(for="name5") Ширина, см
              input(type="text" id="name5" placeholder="Ваш телефон").input
            +e.row
              input(type="submit" value="получить скидку").button
      
    +b.SECTION.feature.section
      .container
        +e.title.title Наши преймущества

        +b.feature-block
          +e.item
            +e.IMG(src="../../assets/images/feature-1.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет
          +e.item
            +e.IMG(src="../../assets/images/feature-2.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет    
          +e.item
            +e.IMG(src="../../assets/images/feature-3.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет 
          +e.item
            +e.IMG(src="../../assets/images/feature-4.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет 
          +e.item
            +e.IMG(src="../../assets/images/feature-5.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет 
          +e.item
            +e.IMG(src="../../assets/images/feature-6.png", alt="#").img-feature
            p.text Бесплатный #[br] дизайн-макет 

    +b.SECTION.catalog.section
      .container
        +e.title.title Каталог скинали

        +b.catalog-block
          +e.item
            img(src="../../assets/images/catalog-image-1.png", alt="").img-catalog
            SPAN.tag Колажи
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like
                img(src="../../assets/images/like.png", alt="")
              
          +e.item
            img(src="../../assets/images/catalog-image-2.png", alt="").img-catalog
            SPAN.tag Авторская коллекция 
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")
            
          +e.item
            img(src="../../assets/images/catalog-image-3.png", alt="").img-catalog
            SPAN.tag Колажи
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")

          +e.item
            img(src="../../assets/images/catalog-image-4.png", alt="").img-catalog
            SPAN.tag Авторская коллекция
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like
                img(src="../../assets/images/like.png", alt="")

          +e.item
            img(src="../../assets/images/catalog-image-5.png", alt="").img-catalog
            SPAN.tag Колажи
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")

          +e.item
            img(src="../../assets/images/catalog-image-6.png", alt="").img-catalog
            SPAN.tag Авторская коллекция
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")

          +e.item
            img(src="../../assets/images/catalog-image-7.png", alt="").img-catalog
            SPAN.tag Колажи
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")

          +e.item
            img(src="../../assets/images/catalog-image-8.png", alt="").img-catalog
            SPAN.tag Авторская коллекция
            +e.buttons
              +b.BUTTON.button-fitting Примерить онлайн
              +b.BUTTON.button-add Заказать
              +b.BUTTON.button-like 
                img(src="../../assets/images/like.png", alt="")

        +b.catalog-button
          +e.A(href="#").button.button смотреть весь каталог скинали
          +e.text Более 3000 изображений скинали в 25 рубриках

    +b.SECTION.blog.section
        .container

          +b.blog-header
            +e.title Полезное или что важно знать о скинали
            +e.A(href="#").link Читать все статьи

          +b.blog-list
            +e.item
              +e.IMG(src="../../assets/images/blog-post-1.png", alt="#").blog-img
              +e.text текс шляпа
            +e.item
              +e.IMG(src="../../assets/images/blog-post-2.png", alt="#").blog-img
              +e.text текс шляпа
            +e.item
              +e.IMG(src="../../assets/images/blog-post-3.png", alt="#").blog-img
              +e.text текс шляпа
            +e.item
              +e.IMG(src="../../assets/images/blog-post-4.png", alt="#").blog-img
              +e.text текс шляпа  

    +b.SECTION.price.section
          .container

            +e.title.title Цены и виды скинали
          
            +b.price-block
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-1.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-2.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-3.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-4.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-5.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-6.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку                              
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-7.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку                              
              +b.price-card
                +e.imapge
                  img(src="../../assets/images/price-8.png", alt="#").price-image               
                +e.text
                  +e.pricetag
                    +e.title Прозрачные
                    +e.SPAN.cost от 3500 р/м2
                  +e.button
                    BUTTON.button Оставить заявку   

    +b.SECTION.step.section
          .container

            +e.title.title Этапы работ
          
            +b.step-block
              +e.item 
                +e.IMG(src="../../assets/images/feature-1.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
              +e.item 
                +e.IMG(src="../../assets/images/feature-2.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
              +e.item 
                +e.IMG(src="../../assets/images/feature-3.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
              +e.item 
                +e.IMG(src="../../assets/images/feature-4.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
              +e.item 
                +e.IMG(src="../../assets/images/feature-5.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
              +e.item 
                +e.IMG(src="../../assets/images/feature-6.png", alt="#").step-image
                +e.title Монтаж
                +e.text Вы оставляете заявку и мы вам перезвоним
    
    +b.SECTION.before.section
          .container
            +e.title.title До и после
            +b.before-slider-wrap
              +b.before-slider
                +e.item
                  +b.before-after
                    img(src="../../assets/images/sample-before.png", alt="#")
                    img(src="../../assets/images/sample-after.png", alt="#")
                +e.item
                  +b.before-after
                    img(src="../../assets/images/sample-before.png", alt="#")
                    img(src="../../assets/images/sample-after.png", alt="#")
                +e.item
                  +b.before-after
                    img(src="../../assets/images/sample-before.png", alt="#")
                    img(src="../../assets/images/sample-after.png", alt="#")

              +b.before-slider-arrows
                +b.BUTTON.arrow.arrow-left
                  img(src="../../assets/images/left.png", alt="#")
                +b.BUTTON.arrow.arrow-right  
                  img(src="../../assets/images/right.png", alt="#")

    
    +b.SECTION.reviews.section
          .container
            +e.title.title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
          
            +b.slider-block
              +e.item
                +e.text Очень часто мы сталкиваеся с недополнимаением сотрудников банка, и иной раз идти
                +e.IMG(src="../../assets/images/review-1.png").image
                +e.SPAN.name Марина
              +e.item
                +e.text Очень часто мы сталкиваеся с недополнимаением сотрудников банка, и иной раз идти
                +e.IMG(src="../../assets/images/review-2.png").image
                +e.SPAN.name Марина
              +e.item
                +e.text Очень часто мы сталкиваеся с недополнимаением сотрудников банка, и иной раз идти
                +e.IMG(src="../../assets/images/review-3.png").image
                +e.SPAN.name Марина    
    
    +b.SECTION.offer.section
        .container
          
          +e.block.offer-block
            +e.title ищите где дешевле и лучше?
            +e.SPAN.subtitle Если у Вас уже есть расчет от другой фирмы, но Вы хотите цену дешевле, укажите её - и мы Вам пересчитаем заказ с максимальной скидкой

          +b.FORM(action="#").form
            +e.row
              +e.group
                input(type="text" id="name1"  placeholder="ваше имя").input.input-row
              +e.group
                input(type="text" id="name2"  placeholder="ваш телефон").input.input-row
              +e.group
                input(type="text" id="name3"  placeholder="ваша цена").input.input-row

            +e.row.row-flex
              +e.group
                +e.INPUT(type="submit" value="получить расчет со скидкой").button-price.button
              +e.group
                +e.SPAN.policy Ваши данные надежно защищены. Отправление заявки ни к чему не обязывает.

    +b.SECTION.factory.section
        .container

          +e.title.title О производстве
            
          +b.factory-block
            +e.image
              +e.IMG(src="../../assets/images/factory-image.png").img
            +e.text
              +e.P Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
    +b.SECTION.contacts.section
        .container

          +e.title.title Контакты
            
          +b.contacts-block
            +e.item
              +e.IMG(src="../../assets/images/contact-1.png").image
              +e.text
                +e.A(href="#").link +7 499 123 34 23

            +e.item
              +e.IMG(src="../../assets/images/contact-2.png").image
              +e.text
                +e.A(href="#").link +7 499 123 34 23

            +e.item
              +e.IMG(src="../../assets/images/contact-3.png").image
              +e.text
                +e.A(href="#").link +7 499 123 34 23    
    
        <script type="text/javascript" charset="utf-8" async 
        | src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8703fce488af028f194c326ec655d752cf862e49d36773058b623e7c6d4936e&amp;width=100%25&amp;height=410&amp;lang=ru_RU&amp;scroll=true">
        | </script>

    +b.SECTION.questions.section
        .container

          +b.questions-block
            +e.H3.title Остались вопросы?
            +e.A(href="#").link Задайте их менеджеру
