extends ../layouts/main

block content

  +b.page--main
    //- hero
    +e.row
      +b.hero
        .container
          +e.title
            |Гарантия 
            |минимальной цены
            |на скинали
          +e.subtitle от 3 000 р/м2
        
          +e.BUTTON.button Заказать скинали
            

            

   
