extends ../layouts/main

block content

  +b.page--text
    +e.row
      +b.banner--claim
        .container
          +e.title PRIVACY POLICY

    +e.row--mt-lg
      .container
        .text-block
          ol
            li
              h2 INFORMACIÓN GENERAL
              p El presente texto contiene la política de privacidad (en adelante, la #[b "Política de Privacidad"]) aplicada a sus datos personales en el presente sitio web #[a(href="https://www.airning.com/") https://www.airning.com/] (en adelante, la #[b "Web"]), en cumplimiento de la normativa sobre protección de la privacidad, y en concreto, de conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre que la desarrolla, así como otras normas análogas o complementarias.

            li
              h2 DATOS IDENTIFICATIVOS
              p Los datos identificativos y de contacto del titular y responsable de la Web son los que figuran a continuación:
              p #[b Airning Airclaims S.L.] (en adelante, el #[b "Titular de la Web"])
              p Datos registrales: Inscrita en el Registro Mercantil de Barcelona, en el Tomo 45483 , Folio 60 , Hoja B-489329, Inscripción 1º
              p CIF: B-66821711
              p Calle Almogàvers 165
              p 08018 Barcelona
              p @ info@airning.com

            li
              h2 FINALIDAD DEL TRATAMIENTO DE LOS DATOS
              p La Web recoge datos personales del usuario, bien recogidos automáticamente durante el uso de la Web, o proporcionados voluntariamente por el propio usuario en los apartados informados de la Web. Todos los datos personales recogidos, los incorporamos a ficheros responsabilidad del Titular de la Web. Dichos datos serán tratados con las finalidades siguientes:
              ul
                li
                  p Para efectuar el envío de comunicaciones publicitarias (en el supuesto que lo autorice expresamente en el momento oportuno) relacionadas con los productos y servicios ofrecidos en la Web.

                li
                  p Para gestionar los servicios y productos contratados a través de la Web.

                li
                  p Para mostrar la información del usuario en el perfil de su cuenta de la Web.

                li
                  p Para poder contactar con el usuario.

                li
                  p Para efectuar el registro como usuario en la Web.

              p Antes de que nos facilite datos personales de terceros, debe haber recabado previamente su consentimiento respecto al contenido de la presente Política de Privacidad.
              p Si voluntariamente nos facilita datos de carácter personal, consiente tácitamente a que el Titular de la Web procese sus datos como aquí se detalla. En el caso en el que los datos personales facilitados por el usuario se utilicen con finalidades distintas a las enunciadas, se solicitará el consentimiento expreso del usuario.
              p Para recibir mayor información sobre sus datos personales y la finalidad de su tratamiento, contacten con el Titular de la Web.

            li
              h2 SEGURIDAD Y CUMPLIMIENTO
              p El Titular de la Web tratará los datos de los usuarios de manera adecuada y responsable, y adoptará todas las medidas de índole técnica y organizativa que exige la legislación vigente en materia de protección de datos, a fin de evitar la alteración, pérdida, tratamiento o acceso no autorizado a los datos.

            li
              h2 SERVICIOS DE TERCEROS
              p Al margen del Titular de la Web, en algunas circunstancias otras personas, bien de la propia organización de la empresa o subcontratistas externos (tales como, abogados, agencias de marketing, informáticos, administración, empresas de mensajería, auditores o agencias de comunicación), podrán acceder a los datos para cumplir con una adecuada prestación de los servicios al usuario.

            li
              h2 DERECHOS
              p Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición, remitiendo una comunicación escrita a la que deberá acompañar una copia de su documento nacional de identidad, pasaporte u otro documento válido que lo identifique, la petición que realiza, su dirección a efectos de notificaciones, la fecha y su firma, junto con los documentos que acrediten la petición, en su caso, a la dirección Calle Almogàvers 165, 08018 Barcelona, o bien enviando un correo electrónico a info@airning.com
