extends ../layouts/main

block content

  +b.page--text
    +e.row
      +b.banner--claim
        .container
          +e.title COOKIE POLICY

    +e.row--mt-lg
      .container
        .text-block
          ol
            li
              h2 INFORMACIÓN GENERAL
              p Hemos creado la presente Política de Cookies con la finalidad de informarte de qué son y porqué utilizamos cookies en nuestra web #[a(href="https://airning.com") https://airning.com] (en adelante, la #[b "Web"]) titularidad de Airning Airclaims S.L., con CIF B-66821711 y domicilio en Carrer Almogàvers 165, 08018, Barcelona, y para demostrarte nuestro compromiso constante con la protección de tu privacidad.
              p Mediante el uso de nuestra Web aceptas el almacenamiento de cookies en tu dispositivo, y por tanto, aceptas la presente Política de Cookies.
              p Si tienes alguna duda o consulta respecto a nuestra Política de Cookies, envíanos un email a info@airning.com.

            li
              h2 DEFINICIÓN DE LAS COOKIES
              p Una cookie es un pequeño fichero de texto que se almacena por un periodo de tiempo determinado en el disco duro de tu dispositivo, en el momento en que accedes a determinadas webs (en adelante, las #[b "Cookies"] en plural, y #[b "Cookie"] en singular). Las Cookies permiten a una web, entre otras cosas, almacenar y recuperar información sobre hábitos de navegación y comportamiento del usuario o del equipo desde el que se conecta, para poder prestar servicios de navegación personalizados, y de esta forma mejorar la experiencia al navegar por la web.

            li
              h2 TIPO DE COOKIES UTILIZADAS
              p En nuestra Web utilizamos cookies de sesión y persistentes, propias o de terceros. Para su información:
              ul
                li
                  p Las cookies de sesión son cookies que se eliminan automáticamente cuando se cierra el navegador.

                li
                  p Las cookies persistentes son cookies que permanecen almacenadas en el dispositivo del usuario aún después de que se haya cerrado el navegador.

                li
                  p Las cookies propias son aquéllas que se envían al dispositivo del usuario por parte de la web en la que navegas.

                li
                  p Las cookies de terceros son aquellas que se envían al dispositivo del usuario por una web que no está gestionada por la web donde navegas, sino por parte de otra entidad.

              p En concreto, utilizamos los siguientes tipos de cookies:
              ul
                li
                  p #[b Cookies de análisis:] Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten evaluar el comportamiento de los usuarios de nuestra Web, y de esta forma ayudarnos a mejorar nuestros servicios, funcionamiento y experiencia de usuario.

                li
                  p #[b Cookies de personalización:] Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en su terminal o que el propio usuario defina. Por ejemplo, el idioma, el tipo de navegador a través del cual accede al servicio, el diseño de contenidos seleccionado, geolocalización del terminal o la configuración regional desde donde se accede al servicio, entre otras.

                li
                  p #[b Cookies de publicidad comportamental:] Son un tipo de cookies publicitarias que se emplean para almacenar y recuperar información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrarte publicidad en función del mismo.

                li
                  p #[b Cookies publicitarias:] Son aquéllas que permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice en la web.

                li
                  p #[b Cookies técnicas:] Son aquéllas que permiten al usuario la navegación a través de la página Web o aplicación y la utilización de las diferentes opciones o servicios que en ella existen. Por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a las partes Web de acceso restringido, recordar los elementos que integran un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación y almacenar contenidos para la difusión de videos o sonido.

              p Las cookies se utilizarán exclusivamente para los fines indicados en la presente Política de Cookies.

            li
              h2 INHABILITAR LAS COOKIES
              p Aunque las cookies no son imprescindibles para navegar por la Web, si las habilitas disfrutarás de una mejor experiencia de usuario. Puedes modificar las opciones de configuración de tu navegador para borrarlas o bloquearlas, pero si lo haces es posible que algunos servicios o funcionalidades no funcionen adecuadamente.
              p Selecciona el navegador sobre el que quieres obtener más información sobre cómo deshabilitar las cookies:
              ul
                li
                  p Chrome: #[a(href="https://support.google.com/chrome/answer/95647?hl=es") https://support.google.com/chrome/answer/95647?hl=es]

                li
                  p Explorer: #[a(href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9") http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9]

                li
                  p Firefox: #[a(href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias") https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias]

                li
                  p Opera: #[a(href="http://help.opera.com/Windows/11.50/es-ES/cookies.html") http://help.opera.com/Windows/11.50/es-ES/cookies.html]

                li
                  p Safari: #[a(href="https://support.apple.com/kb/PH17191?locale=es_ES") https://support.apple.com/kb/PH17191?locale=es_ES]

            li
              h2 IDENTIFICACIÓN DE LAS COOKIES
              p #[b Cookies propias:]
              p Nombre de la cookie: sessionid
              p #[b Cookies de terceros:]
              p Proveedor: Google Analytics #[br] Nombre de la cookie: _ga, _gat, _gid, _utma, _utmb, _utmc, _utmz, 1p_jar.
              p Proveedor: Facebook #[br] Nombre de la cookie: fr.
              p Proveedor: Twitter #[br] Nombre de la cookie: personalization_id.
              p Proveedor: Hotjar #[br] Nombre de la cookie: _hjIncludedInSample.
              p Proveedor: Bing #[br] Nombre de la cookie: MUIDB.
