extends ../layouts/main

block content

  +b.page--text
    +e.row
      +b.banner--claim
        .container
          +e.title CONDICIONES GENERALES

    +e.row--mt-lg
      .container
        .text-block
          p 28/12/2017
          p El presente documento determina los #[b Términos y Condiciones Generales de Contratación] del servicio ofrecido bajo la marca comercial #[b Airning], servicio titularidad de la mercantil AIRNING AIRCLAIMS S.L. sociedad limitada debidamente inscrita en el #[b Registro Mercantil de Barcelona, al tomo 45.483, folio 60, hoja B-489.329, inscripción 1º, NIF B66821711 y con domicilio social en Carrer Almogàvers 165, 08018, Barcelona.]
          ol
            li
              h2 Objeto del contrato y procedimiento de reclamación
              p #[b Airning] está especializada en la gestión integral de incidencias aéreas, en especial para todos los supuestos que conlleven una reclamación cuando se produzcan cancelaciones, retrasos, denegaciones de embarque y down-grades, tanto en vía prejudicial como judicial, ante las compañías aéreas y, en su caso, podrá denunciar estos incumplimientos ante AENA y AESA, entre otras varias organizaciones.
              p Entre distintas actuaciones, las que realiza #[b Airning] en sede extrajudicial son las siguientes:
              ul
                li
                  p Reclamación previa a la vía judicial para lograr el pago sin necesidad de ir a juicio, a través de distintas vías:

                li
                  p Email

                li
                  p Phone

                li
                  p Burofax

                li
                  p Correo certificado

              p Entre distintas actuaciones, las que realiza Airning en sede judicial son las siguientes:
              ul
                li
                  p Demanda judicial ante el juzgado de lo mercantil competente para cada caso, una vez la vía extrajudicial queda descartada.:

            li
              h2 HONORARIOS Y FORMA DE PAGO
              p Nuestra filosofía de trabajo se centra en el “No win no fee”, lo cual significa que sólo cobraremos en caso de que la reclamación tenga éxito y consigamos la indemnización para el cliente. Ello es así debido a que no queremos que el cliente, que ya ha sufrido un percance con su incidencia aérea, tenga que abonar nuestros servicios por adelantado.
              p Los honorarios que #[b Airning] percibirá en caso de que la reclamación haya sido gestionada con éxito son los siguientes: #[b 25% de la cantidad total obtenida + IVA.]
              p #[b Airning] se preocupa por las personas, y quiere ayudarlas a combatir las injusticias producidas por las aerolíneas, por lo que iniciar una reclamación con nosotros no tiene ningún coste para el cliente. #[b Airning] desembolsa todos los gastos iniciales, para que el cliente no tenga que preocuparse por nada.
              p En sede judicial, si #[b Airning] consiguiera la resolución positiva del caso, y por ende sentencia favorable, donde además del pago de la cantidad reclamada se condenara a la compañía aérea al pago de los intereses y
              p Sin embargo, si la reclamación en sede judicial fuese desestimada y hubiese una condena en costas, #[b Airning] se responsabiliza al 100% de estos costes, por lo que no será un coste para el cliente acudir a la vía judicial.
              p La vía judicial se entiende iniciada desde el momento en que #[b Airning] acredita que ha presentado en el nombre del cliente la demanda ante los correspondientes juzgados y tribunales competentes.
              p En el hipotético caso de que en sede judicial fuera necesaria la celebración de una vista oral, ( si la compañía aérea solicita la celebración de vista judicial ) y el cliente no pudiese acudir, será necesario la representación por parte de procurador, cuyo coste será de veinticinco euros (25€) + IVA. Dicha representación puede otorgarse presencialmente, o a través de poder notarial, que tendrá un coste añadido de veinticinco euros ( 25€).

            li
              h2 OBLIGACIONES DE LAS PARTES
              p #[b Airning se compromete a las siguientes obligaciones:]
              ul
                li
                  p A realizar las actuaciones objeto de este contrato, atendiendo en cada caso a la normativa en vigor.

                li
                  p A actuar con arreglo al código deontológico de la abogacía, en la prestación de los servicios legales.

                li
                  p A mantener al cliente informado en su área de usuario de la web y/o por mail, de los posibles cambios y novedades que se puedan producir en el procedimiento de reclamación que #[b Airning] haya iniciado y gestionado en su nombre.

                li
                  p A impulsar acuerdos prejudiciales y extrajudiciales con las Compañías aéreas que eviten la celebración de juicio y a mantener al cliente informado del resultado de los mismos por correo electrónico.

              p Si la indemnización fuese recibida directamente por #[b Airning], tanto por parte del Juzgado correspondiente como por parte de la compañía aérea, se solicitará al cliente a través de correo electrónico los datos de su cuenta bancaria o otros tipos de recepción de pago para que #[b Airning] pueda abonar el importe correspondiente de la indemnización, que en sede prejudicial siempre será del total recibido menos el 25% + IVA en concepto de honorarios de #[b Airning], más aquellos gastos devengados de acuerdo a lo estipulado en las presente condiciones, de igual manera que para las reclamaciones en sede judicial.
              p La responsabilidad máxima de #[b Airning] en relación con los servicios prestados se limitará al importe de los honorarios pactados por el servicio que dé lugar a dicha responsabilidad. #[b Airning] no será responsable de pérdidas, perjuicios o gastos consecuentes, especiales o incidentales de clase alguna, aún cuando hubiese sido advertida de su posible existencia.
              p Una vez finalizada la reclamación, y siempre que el cliente lo solicite, #[b Airning] procederá a devolver al cliente toda la información que haya sido facilitada por su parte.
              p #[b El cliente se compromete a las siguientes obligaciones:]
              ul
                li
                  p A firmar por si mismo o en nombre del menor o incapacitado a quien representes y siempre que se acredite, la autorización o poder que se facilita en nuestro formulario de registro.

                li
                  p La firma de la autorización conlleva el compromiso del cliente a no reclamar por si mismo a la compañía y/o a renunciar a la reclamación efectuada por si mismo a la compañía.

                li
                  p A solicitar en su nombre o a aceptar la cancelación de datos de carácter personal a la aerolínea, con el fin de que todas las comunicaciones para conseguir la indemnización se realicen por la Compañía con #[b Airning].

                li
                  p A proporcionar una dirección de correo electrónico válida así como un teléfono, y en especial una cuenta bancaria de su titularidad para el abono de la indemnización, así como para cargar el abono de nuestros honorarios.

                li
                  p A acudir, si fuera necesario, a los actos procesales necesarios en sede judicial, siempre que se solicite por la aerolínea, y en caso de imposibilidad, de otorgar representación correspondiente.

                li
                  p A facilitar a #[b Airning] toda la documentación e información que solicitemos y a que la misma sea correcta, veraz y completa.

              p En caso de que la compañía aérea se ponga en contacto con el cliente, éste deberá indicarle fehacientemente que las comunicaciones respecto a su reclamaciones las gestiona #[b Airning], y remitir nuestros datos de contacto. Del mismo modo, toda la información que la aerolínea proporcione al cliente deberá ser reenviada a #[b Airning], para poder estudiarla y ayudar a gestionar el caso de manera exitosa.
              p Si una vez remitida por #[b Airning] la reclamación previa a la via judicial el cliente recibe cualquier tipo de compensación, dineraria o no, directamente de la compañía, éste se obliga a informarnos inmediatamente y a abonar los honorarios fijados.
              p En los siguientes supuestos el cliente se compromete a asumir los costes de la reclamación (que serán debidamente justificados) así como nuestros honorarios:
              ul
                li
                  p Cuando acepte un acuerdo con la aerolínea sin nuestra intervención o en contra de nuestro consejo.

                li
                  p Cuando no acuda al acto de celebración de la vista, salvo que nos hubiera otorgado poder.

              p #[b Airning girará factura por los servicios prestados:]
              ul
                li
                  p En los casos en que la cantidad reclamada y obtenida se ingrese directamente por la compañía aérea a la cuenta bancaria del cliente. En ese caso, giraremos nuestros honorarios desde que #[b Airning] reciba el justificante de pago de la compañía a favor del cliente o, desde que el cliente nos comunique el ingreso.

                li
                  p En los casos en que la cantidad obtenida se ingrese directamente por la compañía aérea a Airning. En ese supuesto, realizaremos a la cuenta bancaria del cliente una transferencia por el importe total recibido menos nuestros honorarios y gastos si los hubiera, además de adjuntar justificante de pago a la cuenta del cliente.

                li
                  p En los casos en que la cantidad se consigne por la compañía aérea en el juzgado:
                  ul
                    li
                      p En el plazo de 15 días, desde el momento en que comuniquemos al cliente que tiene la cuantía consignada en el Juzgado a su disposición.

                    li
                      p En el plazo de quince días desde que demos traslado de la comunicación del juzgado, admitiendo la realización de transferencia a favor del cliente.
                li
                  p En los casos en los que el cliente desista o renuncie a continuar con nosotros, y siempre y cuando Airning haya estudiado, validado y remitido la reclamación previa a la compañía aérea, giraremos factura por nuestros honorarios, una vez el cliente nos comunique su renuncia o desistimiento o desde que la compañía aérea nos comunique que ha procedido a abonarle la cantidad reclamada.

            li
              h2 ESOLUCION DEL CONTRATO
              p El cliente podrá, siempre respetando las estipulaciones contenidas en estas condiciones así como en el poder de autorización, finalizar o desistir del contrato en cualquier momento, previa comunicación por escrito a través del correo electrónico #[a(href="info@airning.com") info@airning.com] o a través de nuestro número de teléfono 931220679.
              p La autorización sólo podrá revocarse antes de que #[b Airning] haya enviado a la aerolínea o a los organismos correspondientes la reclamación. Si aún así, con posterioridad al envío por parte de #[b Airning] de la reclamación tanto a la aerolínea como a los organismos correspondientes, el cliente desea revocar la autorización y cerrar el caso, deberá satisfacerse la cantidad de cincuenta euros (50€) en concepto de gastos administrativos por la gestión del caso por parte de #[b Airning].
              p #[b Airning] se reserva el derecho a resolver el presente contrato cuando tengamos constancia de que el cliente ha tramitado una reclamación paralela a la iniciada por nosotros, haya obtenido algún tipo de comunicación o compensación por parte de la compañía y no nos haya informado debidamente. En este supuesto, nos reservamos el derecho a reclamar al cliente, además de los gastos generados, los posibles daños y perjuicios que se nos hayan ocasionado como consecuencia del incumplimiento del contrato por parte del cliente.
              p La legislación aplicable a la relación que une a las partes es la española y, en virtud de lo dispuesta en ella, serán competentes para su jurisdicción los Tribunales del domicilio del consumidor a fin de resolver las posibles diferencias que puedan surgir derivadas del presente contrato. En el supuesto de que, de acuerdo con la normativa de defensa de los consumidores y usuarios, el cliente no tenga la consideración de consumidor serán competentes para su jurisdicción los Tribunales de la ciudad de Barcelona.

            li
              h2 NULIDAD
              p La declaración de nulidad, ineficacia o invalidez de cualquiera de las presentes Condiciones Generales de Contratación no afectarán a la validez de las restantes condiciones que permanecerán vigentes y serán vinculantes para las partes.
              p El no ejercicio por parte de #[b Airning] de cualquiera de los derechos manifestados en las presentes Condiciones Generales de Contratación no se interpretará como renuncia a dicho derecho.

            li
              h2 DATA PROTECTION
              p #[b Legislación aplicable]
              p #[b Airning] cumple en el tratamiento de los datos de carácter personal del cliente con la legislación vigente en España y en la Unión Europea, en particular, con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo, en particular el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de la Ley Orgánica 15/1999. Para ello adopta las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos de personales facilitados, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos.
              p #[b Recogida de datos]
              p Los datos que el cliente suministre serán incorporados a un fichero de datos de carácter personal que se encuentra debidamente registrado ante la Agencia Española de Protección de Datos. La comunicación de los datos personales del cliente supone su aceptación expresa a la inclusión de los mismos en el fichero oportuno. La no comunicación, o la comunicación incompleta de los datos obligatorios supondrán la imposibilidad de la prestación de servicio y, por tanto, la resolución de la relación contractual.
              p #[b Airning] utilizará los datos personales del cliente con la finalidad de tramitar la reclamación ante la compañía aérea o la entidad u organismo correspondiente. Están incluidos los datos bancarios que se hubieran aportado para recibir el abono de la indemnización obtenida (menos nuestros honorarios y gastos necesarios generados), en su caso. Asimismo, podremos utilizar los datos personales para enviarles comunicaciones relacionadas con la prestación, mejora y actualización de servicios, incluyendo aquellas relativas al estado de la reclamación.
              p #[b Airning] podrá enviarle información propia acerca de promociones, nuevas utilidades que se incorporen y ofertas aplicables a los servicios prestados al correo electrónico que hubiera facilitado en el formulario de adhesión, a no ser que indique lo contrario. #[b Airning] también podrá enviar publicidad acerca de otros servicios propios o de terceras empresas que mantengan relación con la finalidad que perseguimos.
              p #[b Airning] no cederá a terceros los datos de carácter personal que nos proporcione, excepto cuando tal cesión lo sea a favor de empresas que colaboren con nosotros siempre y cuando su cesión sea estrictamente necesaria para la prestación del servicio.
              p Para ejercer los derechos de acceso, rectificación, oposición o cancelación, puede dirigirse por escrito a: #[b Airning Airclaims S.L. Calle Almogàvers 165, 08018, Barcelona] o a info@airning.com. Asimismo, podrá revocar su consentimiento al envío de publicidad en la misma dirección postal o de correo electrónico indicado en el párrafo anterior.
              p Los documentos redactados y empleados en la reclamación (tanto judicial como extrajudicial), son propiedad de #[b Airning].
              p #[b Seguridad]
              p #[b Airning] ha adoptado los niveles de seguridad de protección de los datos personales exigidos por el Reglamento de Desarrollo de la Ley Orgánica 15/1999, de protección de datos de carácter personal (Real Decreto 1720/2007). Además, procura instalar aquellos otros medios y medidas técnicas adicionales para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados.
              p En el proceso de registro como cliente, el cliente elige una contraseña. Como cliente, es responsable de mantener la confidencialidad de esta contraseña, así como de todas las actividades que ocurran en la sesión iniciada con su nombre de usuario y contraseña. En este sentido, el cliente se compromete a notificar a #[b Airning] la mayor brevedad posible el uso no autorizado de su nombre de usuario y contraseña o cualquier otro fallo en la seguridad. #[b Airning] no será responsable por los daños o pérdidas que se pudieran originar debido al no cumplimiento de esta obligación por su parte.
