extends ../layouts/main

block content

  +b.page--user
    +e.row
      +b.banner--claim
        .container
          +e.title User area

    +e.row
      +b.user-data
        .container
          +e.left
            +e.row
              +e.title Mis datos
              +e.A(href="/").link Cerrar sesion
            +e.row
              +e.item
                +e.icon
                  img(src="assets/images/envelope.png")
                +e.text josebamenoyolatorre@gmail.com

              +e.item
                +e.icon
                  img(src="assets/images/phone.png")
                +e.text +35678900988

              +e.item
                +e.icon
                  img(src="assets/images/place.png")
                +e.text Spain

          +e.right
            +b.BUTTON.btn--sm
              span editar

    +e.row--claim
      .container
        +b.section--claim
          +e.title claims
          +e.list
            +b.claim-user
              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

              +e.item
                +b.claim-card
                  +e.header
                    +e.title Reclamacion #12053 - FR6370
                    +e.content
                      +e.item
                        +e.left Fecha
                        +e.right 30/01/2020
                      +e.item
                        +e.left Ruta
                        +e.right BCN - LPA
                      +e.item
                        +e.left Pasajeros
                        +e.right 1
                      +e.item
                        +e.left Estado
                        +e.right No elegible

                    +e.btn-wrap
                      +b.BUTTON.btn--sm
                        span editar

