mixin header()
  +b.HEADER.header
    .container
      +e.main
        a(href="/").logo
          img(src="/assets/images/logo.png")

        +b.collapse#collapsed
          +e.line
          +e.line
          +e.line

      +e.content#collapsed-menu
        +b.navbar
          +e.left
            +b.list-menu
              +e.item
                +e.A(href="flight-delay-claim.html").link Flight Delay Compensation
              +e.item
                +e.A(href="flight-cancellation-claim.html").link Flight Cancellation Compensation
              +e.item.hidden-md
                +e.A(href="overbooking-claim.html").link Overbooking

          +e.right
            +b.list-menu
              +e.item
                +e.A(href="help.html").link Help
              +e.item
                +b.A(href="user-area.html").link-icon
                  +inline-svg('user')
                  | User area
              +e.item.--btn
                +b.A(href="como-reclamar-vuelo.html").btn--sm
                  span Claim Now
