mixin footer()
  +b.FOOTER.footer
    .container
      +e.main
        a(href="/").logo
          img(src="/assets/images/logo-footer.png")

        +e.copyright (c) 2020. Все права защищены #[br] Конфиденциальность

      +e.content
        +b.list-footer
          +e.item
            +b.list-link
              +e.item--title Your rights
              +e.A(href="passengers-rights.html").item Passenger rights
              +e.A(href="flight-delay-claim.html").item Flight Delay Compensation
              +e.A(href="flight-cancellation-claim.html").item Flight Cancellation Compensation
              +e.A(href="overbooking-claim.html").item Overbooking claim

          +e.item
            +b.list-link
              +e.item--title Legal
              +e.A(href="aviso-legal.html").item Disclaimer
              +e.A(href="terms-and-conditions.html").item Terms and conditions
              +e.A(href="politica-de-privacidad.html").item Privacy Policy
              +e.A(href="politica-de-cookies.html").item Cookie Policy

          +e.item
            +b.list-link
              +e.item--title Airning
              +e.A(href="why-airning.html").item About us
              +e.A(href="help.html").item Help
              +e.A(href="contract.html").item Contact
