@import 'variables'
@import 'mixins'

html
  box-sizing border-box

*,
*before,
*after
  box-sizing inherit

disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

a
  -webkit-text-decoration-skip ink
  text-decoration-skip ink

.visuallyhidden:not(:focus):not(:active)
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

.svg-sprite
  display none

body
  display flex
  min-height 100vh
  flex-direction column
  font-weight 300
  overflow-x hidden
  color accentColor

  &.fixed
    overflow-y hidden!important
    width 100%

.main-content
  flex-shrink 0
  display flex
  flex-direction column
  flex-grow 1
  height 100%

.footer
	flex-shrink 0

.page
  flex-grow 1

  &__row
    & + &--mt-md
      margin-top 35px

    & + &--mt-lg
      margin-top 40px

    & + &--mt-xlg
      margin-top 65px

    & + &--mt-reverse
      margin-top -43px

    & + &--steps
      margin-top 85px

    &--center
      width 100%
      .container
        display flex
        justify-content center

  &--help
    margin-bottom 70px

    +below(sm-breakpoint)
      margin-bottom 25px

      .page__row+.page__row--mt-md
        margin-top 25px

  &--user
    margin-bottom 10px

  &--claim
    margin-bottom 90px

    +below(sm-breakpoint)
      margin-bottom 40px

      & ^[0]__title
        font-size 22px
        line-height 1.5
        padding 0

      .page__row+.page__row--mt-md
        margin-top 20px

      .page__row+.page__row--center
        margin-top 22px

      .page__row+.page__row--mt-xlg
        margin-top 40px

  &--compensation
    margin-bottom 20px

    & ^[0]__row
      &--banner
        display none

    +below(sm-breakpoint)
      display flex
      flex-direction column
      width 100%

      & ^[0]__row
        order 1

        &--center
          order 3
          margin 30px 0

        &--steps
          order 2
          margin-top 25px

        &--banner
          order 4
          display block

  &--text
    margin-bottom 50px

.header
  flex-shrink 0
  position sticky
  z-index 10
  top 0

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin 0 0 15px
  font-weight 400
  letter-spacing 0px
  word-spacing 0px
  line-height normal
  &:last-child
    margin-bottom 0

.lh-0
  line-height 0

a
  text-decoration none
  transition all 0.3s
  &:hover
    text-decoration none
    color #000

.visible-mobile
  display none

  +below(540px)
    display block

.hidden-md
  +below(lg-breakpoint)
    display none

.paragraph
  font-family font-family-reg
  font-size 20px
  line-height 1.4

  span
    font-family font-family-bold
    color #2a8cff

  +below(sm-breakpoint)
    font-size 18px
    line-height 26px

  & + &
    margin-top 15px

.title
  font-family font-family-Xbold
  font-size 26px
  text-transform uppercase
  line-height 32px

  &--lg
    font-size 32px

  &--center
    text-align center

  +below(xs-breakpoint)
    font-size 22px
    line-height 1.5
    text-align center

.text-block
  h2
    font-family Circe-ExtraBold
    font-size 26px
    text-transform uppercase
    line-height 32px
    color #2a8cff

  p
    font-family font-family-reg
    font-size 16px
    line-height 1.2
    margin 0

  p + p
    margin-top 15px

  p + ul
    margin-top 10px
    margin-left 20px

  p + ol
    margin-top 20px

  ul + p
    margin-top 20px

  b
    font-family Circe-ExtraBold

  ol
    list-style none
    counter-reset li
    padding-left 0

    & > li
      position relative
      padding-left 30px

    & > li:before
      counter-increment li
      content counters(li,".") ". "
      position absolute
      left 0
      top 0
      font-family Circe-ExtraBold
      font-size 26px
      text-transform uppercase
      line-height 32px
      color #2a8cff

    li + li
      margin-top 20px

    ul
      list-style disc
      padding-left 20px

      li + li
        margin-top 10px

  +below(sm-breakpoint)
    a
      word-break break-all

    h2
      font-size 22px
      line-height 1.5

    ol

      & > li
        position relative
        padding-left 30px

      & > li:before
        font-size 22px
        line-height 1.5
.z-1
  position relative
  z-index 1
