//color var
accent=#000
accentColor=#212121
colorbtn=#fff
bgbtn = rgb(255,64,129)
bgBlue = #2a8cff
//mixin font-family font-weight
font-family-bold = 'Circe-Bold', sans-serif
font-family-Xbold = 'Circe-ExtraBold', sans-serif
font-family-reg = 'Circe-Regular', sans-serif

//max-width container
width-reg = 1180px

// breakpoints
lg-breakpoint = 1199px
md-breakpoint = 992px
sm-breakpoint = 768px
xs-breakpoint = 540px
