//color var
accent=#000
accentColor=#212121
colorbtn=#fff
bgbtn = rgb(255,64,129)
bgBlue = #2a8cff
//mixin font-family font-weight
ProximaNova-Semibold = 'ProximaNova-Semibold', sans-serif
ProximaNova-Light = 'ProximaNova-Light', sans-serif

//max-width container
width-reg = 1170px

// breakpoints
lg-breakpoint = 1199px
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
