.banner
  width 100%
  display flex
  align-items center
  justify-content center

  &__title
    font-family font-family-Xbold
    font-size 100px
    text-transform uppercase
    line-height 1

  &__description
    font-family font-family-Xbold
    font-size 32px
    text-transform uppercase
    margin-top 15px

  &__content
    text-align center
    padding-bottom 10px

  &--first
    background-image url('../images/banner-1.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    height 400px
    color #fff
    display flex
    flex-direction column
    align-items center
    justify-content center

    +below(sm-breakpoint)
      padding 40px 0

      & ^[0]__content
        padding-bottom 0

      & ^[0]__title
        font-size 40px

      & ^[0]__description
        font-size 24px

    +below(xs-breakpoint)
      height 200px

      & ^[0]__content
        padding-bottom 0
        padding-top 10px

      & ^[0]__title
        font-size 50px

      & ^[0]__description
        font-size 22px

  &--second
    background-image url('../images/banner-2.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    height 400px
    color #fff
    flex-direction column
    align-items center
    justify-content center

    & ^[0]__description
      max-width 565px
      margin 0 auto
      line-height 1.3

    & ^[0]__content
      padding-bottom 0

    & ^[0]__btn-wrap
      margin-top 40px
      width 100%
      display flex
      justify-content center

    +below(xs-breakpoint)
      height auto
      min-height 200px
      padding 10px 0

      & ^[0]__btn-wrap
        margin-top 20px

      & ^[0]__description
        font-size 22px

  &--claim
    background-image url('../images/banner-claim.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    color #fff
    padding 22px 0 17px

    & ^[0]__title
      font-size 42px
      line-height 31px
      text-transform uppercase

    +below(sm-breakpoint)
      background #2a8cff

      & ^[0]__title
        font-size 22px
        line-height 1.2

  &--compensation
    background-image url('../images/compensation-bg.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    padding-top 45px
    padding-bottom 90px

    & ^[0]__content
      text-align left
      max-width 715px
      margin-right 300px

    & ^[0]__title
      font-size 42px
      line-height 1.2
      font-family font-family-Xbold
      text-transform uppercase
      color #ffffff

    & ^[0]__description
      font-family font-family-reg
      font-size 20px
      line-height 1.3
      text-transform none
      color #ffffff

    & ^[0]__img-percent
      display flex
      align-items center
      justify-content center
      width 202px
      height 202px
      position absolute
      top -25px
      right 108px

    +below(sm-breakpoint)
      & ^[0]__title
        font-size 22px
        line-height 1.5

      & ^[0]__description
        font-size 18px
        line-height 1.4

      & ^[0]__content
        padding 0
        width 100%

      & ^[0]__img-percent
        display none

    +below(xs-breakpoint)
      padding 25px 0 30px
      background #2a8cff

      & ^[0]__title
        line-height 1.2

      & ^[0]__description
        margin-top 12px

.price-block
  display flex
  flex-direction column
  align-items center
  width 100%
  color #212121

  &__title
    font-family font-family-Xbold
    font-size 32px
    line-height 24px
    text-align center
    text-transform uppercase

    & + .price-block__subtitle
      margin-top 22px

  &__subtitle
    font-family font-family-reg
    font-size 18px
    line-height 26px
    text-align center
    max-width 732px

  &__list
    margin-top 50px
    width 100%

  +below(md-breakpoint)
    &__list
      display none

    &__title
      line-height 32px

  +below(xs-breakpoint)
    &__title
      font-size 22px
      line-height 1.5

    .price-block__title+.price-block__subtitle
      margin-top 13px

.list-price
  display flex
  margin-left -30px

  &__item
    flex-basis 360px
    margin-left 30px

.price-card
  width 100%
  position relative

  &__title
    font-family font-family-Xbold
    font-size 22px
    line-height 16px
    text-transform uppercase

    &.negative
      color #ff5858

    &.warn
      color #ffc000

    &.accent
      color #9ebde1

  &__date
    font-family font-family-reg
    font-size 16px
    line-height 15px
    margin-top 25px
    color #818387

  &__value
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin-top 23px

  &__hr
    height 20px
    position relative
    width 126px

    &:before
      content ''
      position absolute
      top 50%
      left 0
      transform translateY(-50%)
      width 100%
      height 2px
      background#d2d6dc

  &__main-value
    font-family font-family-reg
    font-size 18px
    line-height 20px

  &__second-value
    font-family font-family-Xbold
    font-size 14px
    line-height 20px
    text-transform uppercase

  &__content
    min-height 200px
    width 100%
    position relative
    background #fff
    box-shadow 0 10px 40px rgba(8, 32, 59, 0.08)
    padding 35px 35px 30px
    display flex
    align-items center
    flex-direction column

  &:before
    left 15px
    width calc(100% - 30px)
    height 50px
    position absolute
    content ""
    bottom -10px
    box-shadow 0 10px 40px rgba(8,32,59,.08)
