.btn
  cursor pointer
  font-family font-family-reg
  min-height 41px
  border-radius 3px
  border 1px solid bgBlue
  background-color bgBlue
  color #ffffff
  display flex
  align-items center
  justify-content center
  text-transform uppercase
  outline none
  transition all .2s

  &--sm
    min-width 120px
    padding 7px 20px

    span
      margin-top 3px
      line-height 20px
      font-size 13px

  &--lg
    min-width 170px
    padding 4px 20px 3px
    min-height 45px

    span
      font-size 16px
      line-height 32px

  &--reverse
    background alpha(#ffffff, .3)

  &--large
    min-height 45px
    min-width 243px

  &:hover
    color #fff
    background #2a58ff

.link-icon
  font-family font-family-reg
  font-size 16px
  color #000
  line-height 19px
  display flex
  align-items flex-start
  text-transform capitalize

  .icon
    width 17px
    height 17px
    fill #9ebde1
    display flex
    margin-right 6px

  &:hover
    .icon
      fill #2A8CFF

    color #2A8CFF
