.footer
  box-shadow 0 10px 40px rgba(8, 32, 59, 0.13)
  background-color #223448
  color #fff
  padding 54px 0 64px

  .container
    display flex
    justify-content space-between
    width 100%

  &__main
    display flex
    flex-direction column
    justify-content space-between
    align-items flex-start

  &__copyright
    font-family font-family-reg
    font-size 16px
    line-height 28px

  &__content
    margin-left 132px
    flex-grow 1

  +below(md-breakpoint)
    &__main
      flex-direction row

    .container
      flex-direction column
      width 100%

    &__content
      margin-left 0
      margin-top 20px
      width 100%

  +below(sm-breakpoint)
    .logo
      display none

  +below(xs-breakpoint)
    padding 40px 0

    &__copyright
      line-height 30px

.list-footer
  display flex
  width 100%

  &__item
    &:nth-child(2)
      margin-left 50px

    &:nth-child(3)
      margin-left 90px

  +below(sm-breakpoint)
    flex-wrap wrap

    &__item
      flex-basis 290px
      margin-right 10px
      margin-top 20px

      &:nth-child(2)
        margin-left 0

      &:nth-child(3)
        margin-left 0

  +below(xs-breakpoint)
    justify-content space-between

    &__item
      flex-basis auto

.list-link
  display flex
  flex-direction column

  a:hover
    color #2a8cff

  &__item
    font-family font-family-reg
    color #738190


    &--title
      font-family font-family-Xbold
      color #fff
      font-size 20px
      line-height 30px

    & + &
      margin-top 8px
