.header
  position fixed
  left 0 
  top 0 
  width 100%
  background #fff
  
  .container
    margin 0 auto
    display flex
    align-items center
    justify-content space-between

.menu-nav
  .container
    height 50px

  &__nav-item
    color #fff  

.menu-nav
  z-index 0
  left 0
  position fixed
  width 100%
  top 80px
  background-color primary
  transform translateY(-300%)
  transition 0.4s

.active
  transform translateY(0%) 
  
.mobile-phone, .landline-phone
  text-align right

  &__link-phone
    font-size 19px
    text-decoration none
    font-family ProximaNova-Semibold
    color #1c1c1c
    display block
    color text-color 
    margin-bottom 5px

  &__small-text
    font-size 14px
    text-decoration none
    font-family ProximaNova-Semibold
    display block
    color text-color-second  

.menu-button
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 80px
  width 70px
  background-color transparent 
  border none
  border-right 1px solid rgba(#510bba, 0.1)
  border-left 1px solid rgba(#510bba, 0.1)
  cursor pointer 

  &__line
    display block
    width 20px
    height 3px
    background-color #89a9eb
    margin 2px 0  

  &:hover
    .menu-button__line
      width 25px
      height 5px
     
.logo

  &__text
    display block
    font-family ProximaNova-Semibold
    font-size 18px
    text-transform uppercase
    margin-bottom 5px

  &__description
    display block
    font-size 14px
    color #6b6b6b

.navbar-button
  cursor pointer

  &__button
    border 2px solid primary 
    padding 17px 22px
    font-size 12px
    text-transform uppercase
    font-family ProximaNova-Semibold
    color primary
    &:hover
      box-shadow 0 10px 25px rgba(0,0,0,0.2)

+below(md-breakpoint)
  .header
    .container
      max-width 960px

+below(sm-breakpoint)
  .header
    .container
      max-width 750px
  
  .mobile-phone, .landline-phone
    display none

+below(xs-breakpoint)
  .header
    .container
      max-width 100%
      padding 0 20px 

    .logo 
      display none
    
  .navbar-button

    &__button
      font-size 10px

  .menu-button
    height 60px

  .menu-nav
    .container
      flex-direction column
      height 300px

.active
  transform translateY(-7%)    
        
