.header
  position fixed
  left 0 
  top 0 
  width 100%
  background #fff
  
  .container
    margin 0 auto
    display flex
    align-item center
    min-height 80px
    justify-content space-between
    align-items center

.menu-nav
  z-index -1
  position fixed
  width 100%
  top 80px
  background-color primary
  transform translateY(-200%)
    
.elem
  &__nav-item
    color #fff

.menu-nav--active
  transform translateY(0%)     

.mobile-phone, .landline-phone
  text-align right

  &__link-phone
    font-size 19px
    text-decoration none
    font-family ProximaNova-Semibold
    color #1c1c1c
    display block
    color text-color 
    margin-bottom 5px

  &__small-text
    font-size 14px
    text-decoration none
    font-family ProximaNova-Semibold
    display block
    color text-color-second  

.menu-button
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 80px
  width 70px
  background-color transparent 
  border none
  border-right 1px solid rgba(#510bba, 0.1)
  border-left 1px solid rgba(#510bba, 0.1)

  &__line
    display block
    width 20px
    height 3px
    background-color #89a9eb
    margin 2px 0
   

.logo

  &__text
    display block
    font-family ProximaNova-Semibold
    font-size 18px
    text-transform uppercase
    margin-bottom 5px

  &__description
    display block
    font-size 14px
    color #6b6b6b

.navbar-button

  &__button
    border 2px solid primary 
    padding 17px 22px
    font-size 12px
    text-transform uppercase
    font-family ProximaNova-Semibold
    color primary