.hero

	background #f1f1f1 url('../images/hero-bg.png') center no-repeat
	background-size cover
	padding-top 180px
	padding-bottom 270px

	&__title
		font-size 30px
		max-width 262px

	&__subtitle
		font-size 30px
		font-weight 700
		margin 34px 0px

	&__button
		border none
		text-decoration uppercase
		padding 25px 45px
		background-color #507fe1
		color #fff
		font-weight 700 	
		
		